params {
    
    input_path         = "/path/input"
    reference          = "/path/to/reference.fa"

    comparison         = "comparison.tsv"
    padsize            = 50
    output             = "/path/output"

    extraparams        = "--bed /path/reported_mods.bed"
    
    email              = ""
}
