params {
    
    input_path         = "/no_backup_isis/enovoa/nextflow_outputs/zebrafish_rRNA_DKC1/run04032022_mod"
    reference          = "/no_backup_isis/enovoa/reference_fasta/zebrafish/reference/rRNA_Maternal_Zygotic.fa"

    comparison         = "/no_backup_isis/enovoa/users/andelgado/MoP3/mop_consensus/comparison.tsv"
    padsize            = 50
    output             = "/no_backup_isis/enovoa/users/andelgado/MoP3/mop_consensus/output"

    extraparams        = "--bed /no_backup_isis/enovoa/reference_fasta/zebrafish/reference/ZF_rRNA_modifications.bed"
    
    email              = "anna.delgado@crg.eu"
}
